# S2HMI config file.
# 20-Aug-2013.
	
# Client page(s) version.
[clientversion]
ver=Ver 2.0 Test
	
# Server ID.
[serverid]
id=S2 Modbus server

#########################################################

###MENU Buttons####

[MenuOp]
addrtype=coil
memaddr=0

[MenuEng]
addrtype=coil
memaddr=1

[MenuGrph]
addrtype=coil
memaddr=2

[MenuDummy]
addrtype=coil
memaddr=3

####Speed and angle displays######

[SpeedDispTxt]
addrtype=holdingreg
memaddr=32000
datatype=integer
range=-10, 10
scale=0, 1

[SpeedColumnDispUp]
addrtype=inputreg
memaddr=32000
datatype=integer
range=-10, 10
scale=0,1

[SpeedColumnDispDown]
addrtype=inputreg
memaddr=32000
datatype=integer
range=-10, 10
scale=0,1

[SteerDispTxt]
addrtype=holdingreg
memaddr=32010
datatype=integer
range=-10, 10
scale=0, 1

[AnglePtr1]
addrtype=inputreg
memaddr=32010
datatype=integer
range=-10, 10
scale=0,1


###Speed and angle buttons####

[SpeedUp]
addrtype=holdingreg
memaddr=32000
datatype=integer
scale=0, 1

[SpeedDown]
addrtype=holdingreg
memaddr=32000
datatype=integer
scale=0, 1

[AngleLeft]
addrtype=holdingreg
memaddr=32010
datatype=integer
scale=0, 1

[AngleRight]
addrtype=holdingreg
memaddr=32010
datatype=integer
scale=0, 1

#######E-Stop and Honk buttons#####

[EStop]
addrtype=coil
memaddr=10

[Honk]
addrtype=coil
memaddr=11

#####Global Swtich#####

[GS_ON]
addrtype=coil
memaddr=100

[GS_OFF]
addrtype=coil
memaddr=100

[GlobalSwitchButton]
addrtype=coil
memaddr=101

[OnLight]
addrtype=coil
memaddr=100

################################

####D_INs####

[din1]
addrtype=inputreg
memaddr=1001
datatype=integer

[din2]
addrtype=inputreg
memaddr=1002
datatype=integer

[din3]
addrtype=inputreg
memaddr=1003
datatype=integer

[din4]
addrtype=inputreg
memaddr=1004
datatype=integer

[din5]
addrtype=inputreg
memaddr=1005
datatype=integer

[din6]
addrtype=inputreg
memaddr=1006
datatype=integer

[din7]
addrtype=inputreg
memaddr=1007
datatype=integer

[din8]
addrtype=inputreg
memaddr=1008
datatype=integer


####D_OUTs####

[dout1]
addrtype=holdingreg
memaddr=2001
datatype=integer

[dout2]
addrtype=holdingreg
memaddr=2002
datatype=integer

[dout3]
addrtype=holdingreg
memaddr=2003
datatype=integer

[dout4]
addrtype=holdingreg
memaddr=2004
datatype=integer

[dout5]
addrtype=holdingreg
memaddr=2005
datatype=integer

[dout6]
addrtype=holdingreg
memaddr=2006
datatype=integer

[dout7]
addrtype=holdingreg
memaddr=2007
datatype=integer

[dout8]
addrtype=holdingreg
memaddr=2008
datatype=integer

####D_OUT_Store####

[d1]
addrtype=holdingreg
memaddr=2001
datatype=integer

[d2]
addrtype=holdingreg
memaddr=2002
datatype=integer

[d3]
addrtype=holdingreg
memaddr=2003
datatype=integer

[d4]
addrtype=holdingreg
memaddr=2004
datatype=integer

[d5]
addrtype=holdingreg
memaddr=2005
datatype=integer

[d6]
addrtype=holdingreg
memaddr=2006
datatype=integer

[d7]
addrtype=holdingreg
memaddr=2007
datatype=integer

[d8]
addrtype=holdingreg
memaddr=2008
datatype=integer



####A_INs##

[ain1]
addrtype=inputreg
memaddr=1011
datatype=integer

[ain2]
addrtype=inputreg
memaddr=1012
datatype=integer

[ain3]
addrtype=inputreg
memaddr=1013
datatype=integer

[ain4]
addrtype=inputreg
memaddr=1014
datatype=integer

[ain5]
addrtype=inputreg
memaddr=1015
datatype=integer

[ain6]
addrtype=inputreg
memaddr=1016
datatype=integer

[ain7]
addrtype=inputreg
memaddr=1017
datatype=integer

[ain8]
addrtype=inputreg
memaddr=1018
datatype=integer

####A_OUTs##

[aout1]
addrtype=holdingreg
memaddr=2011
datatype=integer

[aout2]
addrtype=holdingreg
memaddr=2012
datatype=integer

[aout3]
addrtype=holdingreg
memaddr=2013
datatype=integer

[aout4]
addrtype=holdingreg
memaddr=2014
datatype=integer

[aout5]
addrtype=holdingreg
memaddr=2015
datatype=integer

[aout6]
addrtype=holdingreg
memaddr=2016
datatype=integer

[aout7]
addrtype=holdingreg
memaddr=2017
datatype=integer

[aout8]
addrtype=holdingreg
memaddr=2018
datatype=integer

####A_OUT_Store##

[a1]
addrtype=holdingreg
memaddr=2011
datatype=integer

[a2]
addrtype=holdingreg
memaddr=2012
datatype=integer

[a3]
addrtype=holdingreg
memaddr=2013
datatype=integer

[a4]
addrtype=holdingreg
memaddr=2014
datatype=integer

[a5]
addrtype=holdingreg
memaddr=2015
datatype=integer

[a6]
addrtype=holdingreg
memaddr=2016
datatype=integer

[a7]
addrtype=holdingreg
memaddr=2017
datatype=integer

[a8]
addrtype=holdingreg
memaddr=2018
datatype=integer

###IntegerWriter####
[NumericWriter]
addrtype=holdingreg
memaddr=2500
datatype=integer

##################################################
###GraphScreen####

[GraphSpeed]
addrtype=inputreg
memaddr=32000
datatype=integer
range = -10, 10
scale = 0, 1

[GrphScrTxt]
addrtype=inputreg
memaddr=32000
datatype=integer
scale = 0, 1


#########################################################

# Event definitions.
[&events]
base=32300
#0=PumpRunning, zone3
#1=PumpStopped, zone3
#2=Tank1Empty, zone1
#3=Tank1Full, zone1, zone2
#4=Tank2Empty, zone2
#5=Tank2Full, zone2
	
# Alarm definitions.
[&alarms]
base=32400
#0=PB1Alarm, zone1
#1=PB2Alarm, zone2
#2=PB3Alarm, zone3

