# S2HMI config file.
# 20-Aug-2013.
	
# Client page(s) version.
[clientversion]
ver=Ver 2.0 Test
	
# Server ID.
[serverid]
id=S2 Modbus server

#########################################################

###MENU Buttons####

[MenuOp]
addrtype=coil
memaddr=1110

[MenuEng]
addrtype=coil
memaddr=1111

[MenuGrph]
addrtype=coil
memaddr=1112

[MenuDummy]
addrtype=coil
memaddr=1113

####Speed and angle displays######

[SpeedDispTxt]
addrtype=holdingreg
memaddr=409
datatype=integer
range=-4095, 4095
scale=0, 1

[SpeedColumnDispUp]
addrtype=holdingreg
memaddr=409
datatype=integer
range=-4095, 4095
scale=0,1

[SpeedColumnDispDown]
addrtype=holdingreg
memaddr=409
datatype=integer
range=-4095, 4095
scale=0,1

[SteerDispTxt]
addrtype=holdingreg
memaddr=401
datatype=integer
range=0, 2475
scale=0, 1

[AnglePtr1]
addrtype=holdingreg
memaddr=401
datatype=integer
range=0, 2475
scale=0,1


###Speed and angle buttons####

[SpeedUp]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedDown]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedUp10]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedDown10]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedUp100]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedDown100]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedMax]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1

[SpeedZero]
addrtype=holdingreg
memaddr=409
datatype=integer
scale=0, 1


[AngleLeft]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleRight]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleLeft10]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleRight10]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleLeft100]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleRight100]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleLeftMax]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleRightMax]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1

[AngleCenter]
addrtype=holdingreg
memaddr=401
datatype=integer
scale=0, 1


#######E-Stop and Honk buttons#####

[EStop]
addrtype=coil
memaddr=208

[Honk]
addrtype=coil
memaddr=209

[Traction_Enable]
addrtype=coil
memaddr=208


#####Global Swtich#####

[GS_ON]
addrtype=coil
memaddr=202

[GS_OFF]
addrtype=coil
memaddr=202

[GlobalSwitchButton]
addrtype=coil
memaddr=203

[OnLight]
addrtype=coil
memaddr=202

################################

####D_INs####

[din1]
addrtype=discrete
memaddr=100

[din2]
addrtype=discrete
memaddr=101

[din3]
addrtype=discrete
memaddr=102

[din4]
addrtype=discrete
memaddr=103

[din5]
addrtype=discrete
memaddr=104

[din6]
addrtype=discrete
memaddr=105

[din7]
addrtype=discrete
memaddr=106

[din8]
addrtype=discrete
memaddr=107

####D_OUTs####

[dout1]
addrtype=coil
memaddr=200

[dout2]
addrtype=coil
memaddr=201

[dout3]
addrtype=coil
memaddr=202

[dout4]
addrtype=coil
memaddr=203

[dout5]
addrtype=coil
memaddr=204

[dout6]
addrtype=coil
memaddr=205

[dout7]
addrtype=coil
memaddr=206

[dout8]
addrtype=coil
memaddr=207

####D_OUT_Store####

[d1]
addrtype=coil
memaddr=200

[d2]
addrtype=coil
memaddr=201

[d3]
addrtype=coil
memaddr=202

[d4]
addrtype=coil
memaddr=203

[d5]
addrtype=coil
memaddr=204

[d6]
addrtype=coil
memaddr=205

[d7]
addrtype=coil
memaddr=206

[d8]
addrtype=coil
memaddr=207



####A_INs##

[ain1]
addrtype=inputreg
memaddr=300
datatype=integer

[ain2]
addrtype=inputreg
memaddr=301
datatype=integer

[ain3]
addrtype=inputreg
memaddr=302
datatype=integer

[ain4]
addrtype=inputreg
memaddr=303
datatype=integer

[ain5]
addrtype=inputreg
memaddr=304
datatype=integer

[ain6]
addrtype=inputreg
memaddr=305
datatype=integer

[ain7]
addrtype=inputreg
memaddr=306
datatype=integer

[ain8]
addrtype=inputreg
memaddr=307
datatype=integer

####A_OUTs##

[aout1]
addrtype=holdingreg
memaddr=400
datatype=integer

[aout2]
addrtype=holdingreg
memaddr=401
datatype=integer

[aout3]
addrtype=holdingreg
memaddr=402
datatype=integer

[aout4]
addrtype=holdingreg
memaddr=403
datatype=integer

[aout5]
addrtype=holdingreg
memaddr=404
datatype=integer

[aout6]
addrtype=holdingreg
memaddr=405
datatype=integer

[aout7]
addrtype=holdingreg32
memaddr=406
datatype=integer

[aout8]
addrtype=holdingreg
memaddr=407
datatype=integer

####A_OUT_Store##

[a1]
addrtype=holdingreg
memaddr=400
datatype=integer

[a2]
addrtype=holdingreg
memaddr=401
datatype=integer

[a3]
addrtype=holdingreg
memaddr=402
datatype=integer

[a4]
addrtype=holdingreg
memaddr=403
datatype=integer

[a5]
addrtype=holdingreg
memaddr=404
datatype=integer

[a6]
addrtype=holdingreg
memaddr=405
datatype=integer

[a7]
addrtype=holdingreg
memaddr=406
datatype=integer

[a8]
addrtype=holdingreg
memaddr=407
datatype=integer

###IntegerWriter####
[NumericWriter]
addrtype=holdingreg
memaddr=2500
datatype=integer

##################################################
###GraphScreen####

[GraphSpeed]
addrtype=holdingreg
memaddr=209
datatype=integer
range = -4095, 4095
scale = 0, 1

[GrphScrTxt]
addrtype=holdingreg
memaddr=209
datatype=integer
scale = 0, 1


#########################################################

# Event definitions.
[&events]
base=32300
#0=PumpRunning, zone3
#1=PumpStopped, zone3
#2=Tank1Empty, zone1
#3=Tank1Full, zone1, zone2
#4=Tank2Empty, zone2
#5=Tank2Full, zone2
	
# Alarm definitions.
[&alarms]
base=32400
#0=PB1Alarm, zone1
#1=PB2Alarm, zone2
#2=PB3Alarm, zone3

